@import "./variables.scss";

.day {
  .stats {
    margin: 10px 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .total {
      flex-grow: 1;
      padding-bottom: 10px;
      .pages {
        font-size: 45px;
        color: $color_calendar_num_border;
      }
      .time {
        margin-top: -5px;
        font-size: 21px;
        color: $color_calendar_num;
      }
    }

  }
}
