@import "./variables.scss";

* {
  margin: 0;
  padding: 0;
}
html, body {
  overflow-x: hidden;

  .app {
    position: absolute;
    padding-bottom: 40px;
    width: 100%;
    height: calc(100% - 40px);
    display: flex;

    .contentWrapper {
      display: flex;
      flex-direction: column;

      .content {
        display: flex;
        flex-direction: row;
        height: 100%;
      }
    }

    .col-1 {
      width: 7.5%;
    }
    .col-8 {
      width: 85%;
    }
  }
}
