@import "./variables.scss";

.info {
  width: 45%;
  margin-right: 20px;
  font-family: $font_numbers;
  background: $color_week_legend;

  div.input {
    padding: 0 20px;
    margin-bottom: 10px;
    div.title {
      text-transform: uppercase;
      font-size: 12px;
      margin-left: 10px;
      margin-bottom: 5px;
    }
    input {
      border: none;
      background-color: #F7F7F9;
      padding: 10px;
      transition: 0.2s;
      width: 90%;

      &:focus {
        transition: 0.2s;
        outline: none;
        background: white;
      }
    }
  }

  h1 {
    font-weight: 400;
    font-size: 16px;
    padding: 20px 20px;
    text-transform: uppercase;
    color: white;
    background: $color_calendar_num_border;
  }
  h2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 400;
    font-size: 14px;
    padding: 10px 20px;
    text-transform: uppercase;
    color: $color_calendar_num_border;
    background: white;

    &:hover div {
      transition: 0.2s;
      opacity: 1;
    }
    div {
      transition: 0.2s;
      width: 16px;
      height: 16px;
      background-image: $icon_add;
      cursor: pointer;
      opacity: 0.5;
    }
  }

  .books {
    padding: 10px 20px 10px 0;

    .book {
      transition: 0.2s;
      margin: 0 0 14px;
      padding: 7px 0 7px 20px;
      display: flex;
      justify-content: space-between;
      background-color: $color_week_legend;

      &:hover {
        transition: 0.2s;
        transform: translateX(-5px) translateY(-5px);
        box-shadow: 7px 7px 5px rgba(50, 50, 50, 0.03);
        filter: brightness(0.95);
      }

      .title {
        cursor: pointer;
        width: 50%;
        div:first-child {
          font-size: 17px;
        }
        div:last-child {
          margin-top: -5px;
          letter-spacing: 1px;
          font-size: 13px;
        }
      }
      .meta {
        width: 50%;
        display: flex;
        flex-direction: column;
        background: white;
      }
    }
  }
  .addNew {
    padding: 10px 20px 10px 0;
  }
}
