@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400');

$color_day: #ffffff;
$color_holyday: #F3F3F4;
$color_week_legend: #EFEFF1;
$color_calendar_num: #6F7274;
$color_calendar_num_border: #1E2019;
$color_selected: #E8F0F3;

$font_numbers: 'Roboto Condensed', serif;

$image_bg: url('./images/bg.gif');
