@import "../variables.scss";

.book {
  transition: 0.2s;
  margin: 0 0 14px;
  padding: 7px 0 7px 20px;
  display: flex;
  justify-content: space-between;
  background-color: $color_week_legend;

  &:hover {
    transition: 0.2s;
    transform: translateX(-5px) translateY(-5px);
    box-shadow: 7px 7px 5px rgba(50, 50, 50, 0.03);
    filter: brightness(0.95);
  }

  .title {
    cursor: pointer;
    width: 50%;
    div:first-child {
      font-size: 17px;
      line-height: 16px;
    }
    div:last-child {
      letter-spacing: 1px;
      font-size: 13px;
    }
  }
  .meta {
    width: 50%;
    display: flex;
    flex-direction: column;
    background: white;
  }
}
